/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    color: #eee;
    line-height: 1.6;
}

h1, h2 {
    font-family: 'Impact', sans-serif;
    color: #ff0000;
}

/* Header */
header {
    background: url('https://i.pinimg.com/originals/84/82/38/84823871c277049a8f93083564dd8fdc.jpg') no-repeat center center/cover;
    color: #fff;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Navegación */
nav {
    display: flex;
    justify-content: center;
    background-color: #222;
    padding: 10px;
}

nav a {
    color: #ff0000;
    font-size: 1.2em;
    margin: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    color: #fff;
    border-bottom: 2px solid #ff0000;
}

/* Secciones */
section {
    padding: 60px 10%;
    border-radius: 10px;
    margin: 20px 0;
    position: relative;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    border-bottom: 3px solid #ff0000;
    padding-bottom: 10px;
    text-transform: uppercase;
}

section p, ul {
    font-size: 1.2em;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    margin-left: 20px;
}

ul li {
    background-color: #111;
    padding-left: 40px;
    margin-bottom: 10px;
}

/* Sección de Álbumes */
#albums {
    background-color: #262626;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#albums h2 {
    width: 100%;
}

.album {
    text-align: center;
    margin: 20px;
}

.album img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.album img:hover {
    transform: scale(1.1);
}

/* Botones estilizados */
.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff0000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #333;
}

/* Estilo de la sección sobre el grupo con efecto parallax */
#about {
    background: url('https://wallpaperaccess.com/full/828093.png') no-repeat center center/cover;
    background-attachment: fixed; /* Efecto parallax */
    background-size: cover;
    padding: 100px 10%;
    color: #fff; 
}

/* Footer */
footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    color: #fff;
}
